/*-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
.card-details {
  width: 180px;
  height: 250px;
  font-family: Arial;
  border-radius: 50px; }
  .card-details p {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Lato", sans-serif; }
  .card-details .image-container {
    height: 50%;
    position: relative;
    text-align: center; }
    .card-details .image-container img {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      filter: brightness(80%); }
  .card-details .details-button {
    position: absolute;
    height: 20px;
    width: 20px;
    background: #f6cb47;
    color: #fff;
    z-index: 1;
    right: 20px;
    top: -10px;
    border-radius: 5px;
    width: 22px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    text-align: center; }

.card-image {
  width: 100%;
  height: 100%; }

.content-container {
  height: 50%;
  position: relative;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  color: #d6d6d6;
  /* margin-top: -20px; */
  /* right: 5%; */
  /* left: 5%; */ }
  .content-container .progress-bar-container .progress-bar {
    position: absolute;
    /* width: 100%; */
    top: 40px;
    border: 1px solid #f9f9f9;
    /* margin: 20px; */
    border-radius: 20px;
    background: #f7f7f7;
    height: 7px;
    right: 5%;
    left: 5%; }
    .content-container .progress-bar-container .progress-bar .progress {
      height: inherit; }
  .content-container .progress-bar-container .amount-limit {
    font-size: 10px;
    position: absolute;
    /* width: 80%; */
    top: 55px;
    right: 5%;
    color: #5d5d5d; }
  .content-container .amount-used {
    position: absolute;
    top: 7px;
    left: 5%;
    font-family: "Lato", sans-serif;
    color: #5d5d5d; }
  .content-container .end-date {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 11px;
    font-family: "Lato", sans-serif; }

.content-container-details .card-details-content-middle {
  position: relative;
  height: 100px;
  background: lightblue;
  display: table;
  width: 100%; }
  .content-container-details .card-details-content-middle .card-details-content-left {
    width: 50%;
    background-color: red;
    /* position: absolute; */
    /* display: inline-block; */
    /* height: inherit; */
    display: table-cell;
    /* background-color: white; */
    padding: 10px; }
    .content-container-details .card-details-content-middle .card-details-content-left p {
      color: #222;
      font-family: "Lato", sans-serif; }
  .content-container-details .card-details-content-middle .card-details-content-right {
    width: 50%;
    background: blue;
    /* position: relative; */
    /* float: right; */
    /* height: inherit; */
    display: table-cell;
    text-align: right;
    padding: 10px; }
  .content-container-details .card-details-content-middle p {
    color: #222;
    font-family: "Lato", sans-serif;
    text-align: left; }

.content-container-details .card-details-content-bottom {
  height: 30%;
  background: lightcoral;
  display: inline-block;
  width: 100%; }
